/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
  min-height: 8vh;
  font-family: 'comfortaa', sans-serif;
  background-color: bisque;
}

.logo{
  color: rgb(38, 30, 155) ;
  text-transform: capitalize;
  letter-spacing: 0.5vh;
}
.nav-links{
  display: flex;
  background-color: aqua;
  justify-content: space-around;
  width:30% ;
}
.nav-links a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14;

}
.burger{
  background-color: bisque;
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: transform 0.5s ease-in  ;
}

@media screen and (max-width:760px){
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in  ;

  }
  .nav-links li{
   opacity: 0;
  }
  body{
    overflow:hidden ;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active{
    transform: translateX(0%);
  }
}

@media screen and (max-width:1024px){
  .nav-links{
    width:50%;
  }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to{
    opacity: 1;
    transform: translateX(0px);

  }
}

.changeTo .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.changeTo .line2{
  opacity: 0;
}
.changeTo .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}